@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap");
@import "/assets/css/menu.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  margin: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #ffc455;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
}

.content {
  flex: 12;
  margin-left: 110px;
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  background-image: url(/assets/img/banner_bg.png);
  animation: animateBackground 10s linear infinite;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.header-left {
  margin-top: 36vh;
  margin-left: 4em;
  flex: 2;
}

.header-right {
  margin-top: 36vh;
  flex: 1;
}

.header-right img {
  opacity: 0.4;
}

.world {
  color: #222222;
}

.header-left h2 {
  margin-top: 0;
  font-size: 32px;
  text-transform: uppercase;

  background-image: linear-gradient(
    to right,
    #ffc455 66%,
    rgba(255, 0, 0, 0) 35%
  );
  display: inline-block;
  padding: 10px 10px 2.5px 10px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.header-left h1 {
  margin-left: -9px;
  color: #00c8da;
  font-size: 92px;
  margin-top: 15px;
  margin-bottom: 0;
}

.header-left span {
  margin-top: 0;
}

.header-left button {
  background-color: #ff517e;
  padding: 15px 35px 10px 35px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.header-left button:hover {
  background-color: #ffc455;
}

.proffesion {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.border-left {
  margin-top: 0;
  border-left: 3px solid #ffc455;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-left h3 {
  margin-top: 0;
  font-size: 28px;
  color: #222222;
  padding-bottom: 215px;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
  margin-top: 30px;
}

.buttons a button:first-child {
  background-color: #ffc455;
  padding: 15px 35px 10px 35px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.buttons a button:first-child:hover {
  background-color: #ff517e;
}

.buttons a:last-child:hover button {
  background-color: #ffc455;
}

.buttons a:last-child button {
  background-color: #ff517e;
  padding: 15px 35px 10px 35px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  border: none;
}

.buttons a {
  text-decoration: none;
  color: white;
}

.header-right img {
  max-width: 400px;
}

.about-me {
  display: flex;
  background-color: #fafafa;
  padding: 80px 10px 80px 10px;
  gap: 2em;
  justify-content: center;
  box-sizing: border-box;
}

.about-left {
  flex-grow: 30%;
  padding: 0;
  text-align: center;
  margin-left: 5em;
}

.about-right {
  max-width: 700px;
  padding: 0;
  margin-right: 10em;
}

.about-right h2 {
  border-bottom: 6px solid #ffc455;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
}

.about-right h2:hover {
  border-bottom: 6px solid #ff517e;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
}

.about-right h1 {
  color: #00c8da;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

.about-right p {
  color: #777777;
  line-height: 1.5em;
  margin-top: 0;
}

.about-right p:nth-child(4) {
  color: #00c8da;
  margin-bottom: 0;
  font-size: 18px;
  margin-top: 0;
}

.about-right p:nth-child(5) {
  margin-top: 0;
  font-size: 18px;
}

.about-left img {
  max-width: 445px;
  height: 489px;
}

.img-wrap {
  position: relative;
  max-width: 445px;
  height: 488px;
  display: inline-block;
}

.about-me-info {
  background-color: #000000;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 488px;
  top: 0;
  left: 0;
  text-align: left;
  color: #ffc455;
  opacity: 0.8;
}

.about-more-info {
  transition: 0.3s;
  position: absolute;
  font-size: 48px;
  color: white;
  background-color: #00c8da;
  width: 60px;
  text-align: center;
  left: 0;
  bottom: -1px;
  cursor: pointer;
}

.close-info {
  background-color: #ff517e;
}

.hidden {
  display: none;
}

.about-me-info {
  box-sizing: border-box;
  padding-left: 26px;
  padding-top: 10px;
}

.about-me-info-title h3 {
  font-size: 22px;
  color: #fafafa;
  font-weight: normal;
}

.about-me-info-title p {
  color: #939393;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0;
}

.about-me-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 0;
}

.about-me-details p {
  margin-bottom: 0.5em;
}

.about-me-details p:nth-child(2n) {
  color: white;
  font-weight: 400;
}

.about-me-social {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.about-me-social i {
  font-size: 38px;
  color: #00c8da;
  transition: 0.3s;
  cursor: pointer;
}

.about-me-social i:hover {
  color: #ff517e;
}

.my-education,
.my-projects,
.contact {
  display: block;
  text-align: center;
}

.my-education h2 {
  text-align: center;
  border-bottom: 6px solid #ffc455;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
}

.my-education h2:hover {
  border-bottom: 6px solid #ff517e;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
}

.my-education h1 {
  margin: 0;
  color: #556d91;
  font-size: 32px;
}

.my-education {
  padding: 80px 0;
}

.my-projects h1 {
  margin: 0;
  color: #556d91;
  font-size: 32px;
}

.my-projects {
  padding: 80px 0;
  background-color: #f7fbff;
}

.my-projects h2 {
  text-align: center;
  border-bottom: 6px solid #ffc455;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
}

.my-projects h2:hover {
  border-bottom: 6px solid #ff517e;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
}

.projects-container {
  max-width: 1160px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6em;
  box-sizing: border-box;
}

.project {
  position: relative;
  opacity: 1;
  transition: 0.3s;
}

.project img {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.button-view {
  transition: 10.3s;
  position: absolute;
  bottom: 1%;
  left: 36%;
  transform: translate(0, -50%);
  background-color: #ff517e;
  padding: 15px 35px 10px 35px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.button-view a {
  text-decoration: none;
  color: white;
}

.project-technologies {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  gap: 0.6em;
  left: 5%;
  top: 5%;
}

.project-technologies span {
  color: #111111;
  background-color: #ffc455;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.contact {
  padding: 80px 0;
  background-color: #fafafa;
}

.contact h2 {
  text-align: center;
  border-bottom: 6px solid #ffc455;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
}

.contact h2:hover {
  border-bottom: 6px solid #ff517e;
  line-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
}

.contact h1 {
  margin: 0;
  color: #556d91;
  font-size: 32px;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  box-sizing: border-box;
}

.contact-form {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
  margin-top: 2em;
  padding: 20px;
  height: auto;
}

.contact-form-input {
  box-sizing: border-box;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.contact-form-input textarea {
  grid-column: span 2;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c5c5c5;
  font-family: "Josefin Sans", sans-serif;
  height: 150px;
  padding-top: 1em;
}

.contact-form-input input {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 1.5em;
}

.contact-form-input input:focus {
  outline: none;
}

.contact-form-input textarea:focus {
  outline: none;
}

.contact-form-input span {
  background-color: #ff517e;
  padding: 15px 35px 10px 35px;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  grid-column: span 2;
  margin: 2em auto;
}

.contact-form-input span:hover {
  background-color: #ffc455;
}

.contact-footer {
  display: flex;
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-top: 3.8em;
  background-color: #fafafa;
  justify-content: space-between;
}

.contact-footer img {
  max-width: 3em;
  margin-bottom: 0;
}

.footer-heading {
  margin-top: 0;
  font-size: 22px;
  color: #556d91;
  position: relative;
  padding: 15px 0px 4px 0px;
  margin-bottom: 10px;
  font-weight: 700;
}

.footer-heading::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 2px;
  background: #ffc455;
}

.contact-footer p {
  color: #777777;
  margin: 0;
  padding: 0;
}

#succes-sent {
  position: absolute;
  display: none;
  margin: 0;
  pad: 0;
  color: green;
  font-weight: bold;
  left: 50%;
  transform: translate(-25%);
}

#error-message {
  position: absolute;
  display: none;
  margin: 0;
  pad: 0;
  color: red;
  font-weight: bold;
  left: 50%;
  transform: translate(-25%);
}
